@charset "UTF-8";

/** 
 * MTV.com Ultimate Horizontal CSS Drop-Down Menu Theme
 *
 * @file		default.ultimate.css
 * @name		MTV.com
 * @version		0.1
 * @type		transitional
 * @browsers	Windows: IE7+, Opera7+, Firefox3+
 *				Mac OS: Safari2+, Firefox3+
 *
 * @link		http://www.lwis.net/free-css-drop-down-menu
 * @copyright	2008-2012 Live Web Initiatives, http://www.lwis.net
 *
 */

@import "default.css";


/* -- Base style extension -- */

ul.dropdown a,
ul.dropdown span {
 display: block;
 padding: 5px 30px;
 height: 60px;
}


/* -- Base style override -- */

ul.dropdown li {
 padding: 0;
}

ul.dropdown ul a,
ul.dropdown ul span { /* POI: override abstract a, span */

	background-color: #ffffff;
	height: 50px;
}


/* -- Base style reinitiate: post-override activities -- */

ul.dropdown *.dir { /* POI */
 padding: 5px 30px;
}

ul.dropdown ul *.dir {
 padding: 8px 30px 8px 8px;
}


/* -- Custom -- */

ul.dropdown ul a {
 width: 200px;
 padding: 12px;
}

ul.dropdown ul a.dir {
 width: 111px;
}

ul.submenu li {
	/*background-color: #FFFFFF;*/
	color: #1a1a1a;
}

ul.dropdown-horizontal li a.dir{

	/*background-color: #ff0000;*/
	vertical-align: bottom;
	text-align: center;
	padding-top: 10px;
	color: #ffffff;
	/*width: 120px;*/
}

.menu-container{
	height: 60px;
	min-width: 400px;
	margin: 0 auto;
}

.menu-container-background{
	/*width: 100%;*/
	height: auto;
	padding: 0px;
	min-width: 400px;
	max-width: 1350px;
	background: #5e5e5e;
	margin: 0 auto;
}

.banner-category{
	width: 300px;
	background-color: #f5f5f5;
	height: 280px;
	position: relative;
	float: right;
}

.logo{
	width: 150px;
	height: 60px;
	background-color: #f5f5f5;
}

.cart-buttom{
	position: relative;
	float: right;
	top: 0px;
	width: 80px;
	height: 60px;
	background-color: #FFD700;
	color: #3c3c3c;
	font-size: 40px;
	text-align: center;
	padding-top: 10px;
}

.cart-info{
	width: 400px;
	height:200px;
	background-color: #ffffff;
	color: #3c3c3c;
	position: absolute;
	float: right;
	z-index: 777;
	top: 40px;
	right: 30px;
	display: block;
	-webkit-box-shadow: 7px 7px 14px -4px rgba(0,0,0,0.17);
	-moz-box-shadow: 7px 7px 14px -4px rgba(0,0,0,0.17);
	box-shadow: 7px 7px 14px -4px rgba(0,0,0,0.17);
	font-size: 18px;
}