body {
    padding-bottom: 40px;
    /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);*/
}

.clear{
    clear: both;
}

.container1320{
    max-width: 1350px;
    margin: 0 auto;
}

.lateral-nav{

    /*somente na página de categoria*/

}

.frame-product{
    border: 1px solid #f5f5f5;
    width: 23%;
    height: 360px;
    padding: 2px;
    float: left;
    margin-right: 12px;
}

.frame-product .product-thumb {
    background-color: #f5f5f5;
    height: 60%;

}

.product-title{
    font-size: 14px;
    margin-top: 10px;
    height: 40px;
}

.frame-product .prev-price {
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}

.frame-product .current-price {
    font-size: 28px;
    margin-top: 6px;
}

.frame-product .drop-price {
    font-size: 11px;
    margin-top: 4px;
}

footer{
    background-image: url("images/gray_noise_texture.png");
    color: #ffffff;
    height: 500px;
    text-shadow: 0 1px #000;
    direction: ltr;
    text-align: left;
}

.info-container{
    margin: 0 auto;
    max-width: 1320px;
}

.info-container li{
    list-style: none;
}

.info{
    width: 20%;
    padding-top: 100px;
    margin-left: 10px;
    float: left;
}

.info.first{
    margin-left: 1%;
}

ul li.title{
    font-size: 23px;
    list-style: none;
}

.credit-cards-container{
    border: 1px solid #ffffff;
    padding: 10px;
}

div .banner-promo2 {
    background-color: #f5f5f5;
    height: 200px;
    width: 100%;
    margin-bottom: 12px;
}

div .atend-bar{
    height: 100px;
    width: 100%;

}

div.top-bar{

    background-color: #2aabd2;
}

.login-register-frame{
    position: relative;
    float: right;
    width: 200px;
    /*border: 1px dotted #fff;*/
    height: 60px;
    padding-top: 20px;
    color: #fff;
    font-size: 16px;
}

.login-register-frame a { color: #fff; font-weight: bold; text-decoration: none}
.login-register-frame a:visited {  text-decoration: none;}
.login-register-frame a:hover{


}

/***################################ ****/

.zf-green {
    color: #68b604;
}


.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.loading{ width: 16px; height: 16px; background-image: url("images/loading.gif"); background-repeat: no-repeat;margin: 0 auto;}
.topbar-container{ width: 100%; background-color:#1a75ce; color: #fff;}
.topbar-container a:link, a:visited{ text-decoration: none;}
.topbar-container section.body-dropdown{ display: none;}
.topbar-container .logo{ position: relative; float: left;}

.login{background-color:transparent;height:60px;position:relative;padding-right:19px;border-right:1px solid #1265B6;color:#FFF}.login .wrapper{line-height:60px;font-size:15px}.login .wrapper a{color:#FFF}.login .wrapper a:hover{color:#ffb300}

/*.wraper-right-icons{min-width:77%;float:right; border: 1px solid #fff;}*/

.contact {
    background-color: transparent;
    height: 60px;
    position: relative;
    margin-right: 10px;
}
.cart, .contact, .login, .topbar-search, .profile, .wishlist {
    float: right;
}

.login .wrapper {
    line-height: 60px;
    font-size: 15px;
}