body {
    padding-bottom: 40px;
    /*text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);*/
}

.clear{
    clear: both;
}

.container1320{
    max-width: 1350px;
    margin: 0 auto;
}

.lateral-nav{

    /*somente na página de categoria*/

}

.frame-product{
    border: 1px solid #f5f5f5;
    width: 23%;
    height: 360px;
    padding: 2px;
    float: left;
    margin-right: 12px;
}

.frame-product .product-thumb {
    background-color: #f5f5f5;
    height: 60%;

}

.product-title{
    font-size: 14px;
    margin-top: 10px;
    height: 40px;
}

.frame-product .prev-price {
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}

.frame-product .current-price {
    font-size: 28px;
    margin-top: 6px;
}

.frame-product .drop-price {
    font-size: 11px;
    margin-top: 4px;
}

footer{
    background-image: url("images/gray_noise_texture.png");
    color: #ffffff;
    height: 500px;
    text-shadow: 0 1px #000;
    direction: ltr;
    text-align: left;
}

.info-container{
    margin: 0 auto;
    max-width: 1320px;
}

.info-container li{
    list-style: none;
}

.info{
    width: 20%;
    padding-top: 100px;
    margin-left: 10px;
    float: left;
}

.info.first{
    margin-left: 1%;
}

ul li.title{
    font-size: 23px;
    list-style: none;
}

.credit-cards-container{
    border: 1px solid #ffffff;
    padding: 10px;
}

div .banner-promo2 {
    background-color: #f5f5f5;
    height: 200px;
    width: 100%;
    margin-bottom: 12px;
}

div .atend-bar{
    height: 100px;
    width: 100%;

}

div.top-bar{

    background-color: #2aabd2;
}

.login-register-frame{
    position: relative;
    float: right;
    width: 200px;
    /*border: 1px dotted #fff;*/
    height: 60px;
    padding-top: 20px;
    color: #fff;
    font-size: 16px;
}

.login-register-frame a { color: #fff; font-weight: bold; text-decoration: none}
.login-register-frame a:visited {  text-decoration: none;}
.login-register-frame a:hover{


}

/***################################ ****/

.zf-green {
    color: #68b604;
}


.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}

.loading{ width: 16px; height: 16px; background-image: url("images/loading.gif"); background-repeat: no-repeat;margin: 0 auto;}
.topbar-container{ width: 100%; background-color:#1a75ce; color: #fff;}
.topbar-container a:link, a:visited{ text-decoration: none;}
.topbar-container section.body-dropdown{ display: none;}
.topbar-container .logo{ position: relative; float: left;}

.login{background-color:transparent;height:60px;position:relative;padding-right:19px;border-right:1px solid #1265B6;color:#FFF}.login .wrapper{line-height:60px;font-size:15px}.login .wrapper a{color:#FFF}.login .wrapper a:hover{color:#ffb300}

/*.wraper-right-icons{min-width:77%;float:right; border: 1px solid #fff;}*/


.contact {
    background-color: transparent;
    height: 60px;
    position: relative;
    margin-right: 10px;
}
.cart, .contact, .login, .topbar-search, .profile, .wishlist {
    float: right;
}

.login .wrapper {
    line-height: 60px;
    font-size: 15px;
}

div.teste-dropdownAAA{ background-color: #fff; width: 220px; height: 200px; float: left; position: relative;}

/*div.header-dropdown{ text-align: left; font-weight: bold;}*/
.header-dropdown{padding:11px 20px;position:relative;border-bottom:1px solid #E8E6E6; text-align: left;}
.header-dropdown .link{color:#1a75ce;display:inline-block;float:right;margin:8px 0 0}
.header-dropdown .link:hover{color:#f37b20}
.header-dropdown form{margin:0 0 10px;position:relative}
div.user-actions{text-align: left;}
div.cart-info .content{padding: 10px 0px 0px 20px; font-size: 15px;}

.num_itens{font-size: 11px; width: 20px; height: 20px; background-color: #f00; padding: 2px; color: #fff; position: relative; float: right; top: -8px; right: 26px; display: none;
-moz-border-radius:50%;
-webkit-border-radius:50%;
 border-radius:50%;}

.cart-item-popup{    
    font-size: 11px;
    border-bottom: 1px dotted #CCC;
   
       
}

.cart-item-popup table{ height: 40px;}
.cart-item-popup th, td { color: #333; padding: 4px; padding-left: 10px;}
.cart-item-popup tr td { color: #000; padding: 4px; padding-left: 10px;}
.cart-item-popup tr { color: #1a75ce; padding: 4px;}
.cart-item-popup .thumb-item-cart {  background-color: #f5f5f5; width: 62px; height: 62px; 
                   border-radius: 50%; overflow: hidden;}
.cart-item-popup td.preco-item  { color: #333; padding: 4px; text-align: right; padding-right: 10px; font-weight: bold;}

.cart-item-popup table{ border: none; border-color: #fff;}

.btn,.rating-buttons .buttons .rating-option{display:inline-block;background-color:#f2f2f2;border-radius:4px;border-style:solid;border-color:#E8E6E6;border-width:3px 0;color:#FFF;text-decoration:none;padding:7px 55px;-webkit-transition:all .1s ease-in-out;-moz-transition:all .1s ease-in-out;-o-transition:all .1s ease-in-out;transition:all .1s ease-in-out;-webkit-font-smoothing:inherit;background-color:#f2f2f2;border-color:transparent transparent #e8e6e6}.btn:hover,.rating-buttons .buttons .rating-option:hover{cursor:pointer}.btn:hover,.rating-buttons .buttons .rating-option:hover,.btn.hover,.rating-buttons .buttons .hover.rating-option{background-color:#dedede;border-color:transparent transparent #d5d3d3}.btn:active,.rating-buttons .buttons .rating-option:active,.btn.active,.rating-buttons .buttons .active.rating-option{background-color:#c1c1c1;border-color:#b9b8b8 transparent transparent}.btn-thumbs .btn-select{padding:5.5px;vertical-align:top}.btn-thumbs .btn-select:hover,.btn-thumbs .btn-select.active{background-color:#FFF;border:1px solid #f37b20;box-shadow:inset 0 0 0 1px #f37b20}.btn-thumbs .btn-select img{max-width:30px}.btn-select{border:1px solid #ccc;background-color:#FFF;color:#1a75ce;padding:10px;line-height:13px;border-radius:5px;margin:3px;font-size:13px;min-width:44px;height:44px}.btn-select:hover,.btn-select.active{color:#FFF;font-weight:600;background-color:#f37b20;border:1px solid #f37b20}.btn-block{display:block;text-align:center;padding:10px 0}.btn-base,.sellers-list-item .buy-button{background-color:#f2f2f2;border-color:transparent transparent #e8e6e6}.btn-base:hover,.sellers-list-item .buy-button:hover,.btn-base.hover,.sellers-list-item .hover.buy-button{background-color:#dedede;border-color:transparent transparent #d5d3d3}.btn-base:active,.sellers-list-item .buy-button:active,.btn-base.active,.sellers-list-item .active.buy-button{background-color:#c1c1c1;border-color:#b9b8b8 transparent transparent}.btn-primary,.rating-buttons .rating-value-1 .rating-option.item-1,.rating-buttons .rating-value-2 .rating-option.item-1,.rating-buttons .rating-value-2 .rating-option.item-2,.rating-buttons .rating-value-3 .rating-option.item-1,.rating-buttons .rating-value-3 .rating-option.item-2,.rating-buttons .rating-value-3 .rating-option.item-3,.rating-buttons .rating-value-4 .rating-option.item-1,.rating-buttons .rating-value-4 .rating-option.item-2,.rating-buttons .rating-value-4 .rating-option.item-3,.rating-buttons .rating-value-4 .rating-option.item-4,.rating-buttons .rating-value-5 .rating-option.item-1,.rating-buttons .rating-value-5 .rating-option.item-2,.rating-buttons .rating-value-5 .rating-option.item-3,.rating-buttons .rating-value-5 .rating-option.item-4,.rating-buttons .rating-value-5 .rating-option.item-5,.rating-buttons .buttons .rating-option.active{background-color:#1a75ce;border-color:transparent transparent #086b9c}
.btn-primary,.rating-buttons .rating-value-1 .rating-option.item-1,.rating-buttons .rating-value-2 .rating-option.item-1,.rating-buttons .rating-value-2 .rating-option.item-2,.rating-buttons .rating-value-3 .rating-option.item-1,.rating-buttons .rating-value-3 .rating-option.item-2,.rating-buttons .rating-value-3 .rating-option.item-3,.rating-buttons .rating-value-4 .rating-option.item-1,.rating-buttons .rating-value-4 .rating-option.item-2,.rating-buttons .rating-value-4 .rating-option.item-3,.rating-buttons .rating-value-4 .rating-option.item-4,.rating-buttons .rating-value-5 .rating-option.item-1,.rating-buttons .rating-value-5 .rating-option.item-2,.rating-buttons .rating-value-5 .rating-option.item-3,.rating-buttons .rating-value-5 .rating-option.item-4,.rating-buttons .rating-value-5 .rating-option.item-5,.rating-buttons .buttons .rating-option.active{background-color:#1a75ce;border-color:transparent transparent #086b9c}.btn-primary:hover,.rating-buttons .rating-value-1 .rating-option.item-1:hover,.rating-buttons .rating-value-2 .rating-option.item-1:hover,.rating-buttons .rating-value-2 .rating-option.item-2:hover,.rating-buttons .rating-value-3 .rating-option.item-1:hover,.rating-buttons .rating-value-3 .rating-option.item-2:hover,.rating-buttons .rating-value-3 .rating-option.item-3:hover,.rating-buttons .rating-value-4 .rating-option.item-1:hover,.rating-buttons .rating-value-4 .rating-option.item-2:hover,.rating-buttons .rating-value-4 .rating-option.item-3:hover,.rating-buttons .rating-value-4 .rating-option.item-4:hover,.rating-buttons .rating-value-5 .rating-option.item-1:hover,.rating-buttons .rating-value-5 .rating-option.item-2:hover,.rating-buttons .rating-value-5 .rating-option.item-3:hover,.rating-buttons .rating-value-5 .rating-option.item-4:hover,.rating-buttons .rating-value-5 .rating-option.item-5:hover,.rating-buttons .buttons .rating-option.active:hover,.btn-primary.hover,.rating-buttons .rating-value-1 .hover.rating-option.item-1,.rating-buttons .rating-value-2 .hover.rating-option.item-1,.rating-buttons .rating-value-2 .hover.rating-option.item-2,.rating-buttons .rating-value-3 .hover.rating-option.item-1,.rating-buttons .rating-value-3 .hover.rating-option.item-2,.rating-buttons .rating-value-3 .hover.rating-option.item-3,.rating-buttons .rating-value-4 .hover.rating-option.item-1,.rating-buttons .rating-value-4 .hover.rating-option.item-2,.rating-buttons .rating-value-4 .hover.rating-option.item-3,.rating-buttons .rating-value-4 .hover.rating-option.item-4,.rating-buttons .rating-value-5 .hover.rating-option.item-1,.rating-buttons .rating-value-5 .hover.rating-option.item-2,.rating-buttons .rating-value-5 .hover.rating-option.item-3,.rating-buttons .rating-value-5 .hover.rating-option.item-4,.rating-buttons .rating-value-5 .hover.rating-option.item-5,.rating-buttons .buttons .hover.rating-option.active{background-color:#176bbd;border-color:transparent transparent #07628f}.btn-primary:active,.rating-buttons .rating-value-1 .rating-option.item-1:active,.rating-buttons .rating-value-2 .rating-option.item-1:active,.rating-buttons .rating-value-2 .rating-option.item-2:active,.rating-buttons .rating-value-3 .rating-option.item-1:active,.rating-buttons .rating-value-3 .rating-option.item-2:active,.rating-buttons .rating-value-3 .rating-option.item-3:active,.rating-buttons .rating-value-4 .rating-option.item-1:active,.rating-buttons .rating-value-4 .rating-option.item-2:active,.rating-buttons .rating-value-4 .rating-option.item-3:active,.rating-buttons .rating-value-4 .rating-option.item-4:active,.rating-buttons .rating-value-5 .rating-option.item-1:active,.rating-buttons .rating-value-5 .rating-option.item-2:active,.rating-buttons .rating-value-5 .rating-option.item-3:active,.rating-buttons .rating-value-5 .rating-option.item-4:active,.rating-buttons .rating-value-5 .rating-option.item-5:active,.rating-buttons .buttons .rating-option.active:active,.btn-primary.active,.rating-buttons .rating-value-1 .active.rating-option.item-1,.rating-buttons .rating-value-2 .active.rating-option.item-1,.rating-buttons .rating-value-2 .active.rating-option.item-2,.rating-buttons .rating-value-3 .active.rating-option.item-1,.rating-buttons .rating-value-3 .active.rating-option.item-2,.rating-buttons .rating-value-3 .active.rating-option.item-3,.rating-buttons .rating-value-4 .active.rating-option.item-1,.rating-buttons .rating-value-4 .active.rating-option.item-2,.rating-buttons .rating-value-4 .active.rating-option.item-3,.rating-buttons .rating-value-4 .active.rating-option.item-4,.rating-buttons .rating-value-5 .active.rating-option.item-1,.rating-buttons .rating-value-5 .active.rating-option.item-2,.rating-buttons .rating-value-5 .active.rating-option.item-3,.rating-buttons .rating-value-5 .active.rating-option.item-4,.rating-buttons .rating-value-5 .active.rating-option.item-5,.rating-buttons .buttons .active.rating-option{background-color:#145da4;border-color:#06557c transparent transparent}

/*div.profile-info{*/
    /*width: 400px;*/
    /*height:200px;*/
    /*background-color: #ffffff;*/
    /*color: #3c3c3c;*/
    /*position: absolute;*/
    /*float: right;*/
    /*z-index: 999;*/
    /*top: 40px;*/
    /*right: 30px;*/
    /*display: block;*/
    /*-webkit-box-shadow: 7px 7px 14px -4px rgba(0,0,0,0.17);*/
    /*-moz-box-shadow: 7px 7px 14px -4px rgba(0,0,0,0.17);*/
    /*box-shadow: 7px 7px 14px -4px rgba(0,0,0,0.17);*/
    /*font-size: 18px;*/
/*}*/